.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #3f6791;
    color: #fff;
}

.bodycard{
    display: 300px;
}
.bodycard>ul{
    list-style: none;
    margin-left: 4px;
    padding: 2px;
}

.bodycard>ul >li h6{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.bodycard>ul >li h6 >p{
    color: rgb(83, 83, 83);
    padding-left: 3px;
}

.bodycard ul> li >ul{
    border-top: 1px solid #D5D5D5;
    padding-left: 0px;
    list-style: none;
}

.bodycard ul> li >ul >li{
    margin-left: 20px;
    list-style: circle;
}

.headercard{
    display: flex;
}

.headercard h3{
    font-size: 20px;
    width: 100px;
    text-align: center;
    padding: 0px 2px;

}

.cardMain{
    border: 1px solid #CCCCCC;
    padding-bottom: 0px;
}


.restante_active{
    background: rgba(219, 73, 73, 0.678);
    color: #FFF;
}


.alineacion_active{
    background: rgba(216, 191, 80, 0.842);
    color: rgb(0, 0, 0);
}


.recogidas_active{
    background: rgba(78, 120, 212, 0.842);
    color: rgb(0, 0, 0);
}
.default_color{
    background: #FFF;
    color: #000;
}


.td_alineacion{
    padding: 0px !important;
}
.td_alineacion>table{
    margin: 0px;
    background: #d9dcdf;
}

.activo_control{
    background: rgba(106, 106, 106, 0.678);
    color: rgb(255, 255, 255);
}
